/* #button1 {
 font: Verdena;   
 color: green;
 padding: 20px;
 font-size: large;
}
#button2 {
    font: Verdena;   
    color: green;
    padding: 20px;
    font-size: large;
}
#button3 {
    font: Verdena;   
    color: green;
    padding: 20px;
    font-size: large;
} */
body {
    text-align: center;
    display: grid;
    grid-gap: 15px;
}
.button {
    width: 150px;
    color: blue;
    padding: 5px;
    margin-bottom: 20px;
    margin-top: 20px;
    display: block;
    margin: auto;
}
.dot {
    height: 60px;
    width: 60px;
    background-color: grey;
    border-radius: 50%;
    display: block;
    margin: auto;
    padding: 25px;

  }