#button1 {
 font: Verdena;   
 color: green;
 padding: 20px;
 font-size:;
}
#button2 {
    font: Verdena;   
    color: green;
    padding: 20px;
    font-size:;
   }
#button3 {
    font: Verdena;   
    color: green;
    padding: 20px;
    font-size:;
   }
body{
    text-align: center;
}
